body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(78, 0, 151);
    color: rgb(62, 0, 70);
    background-image: url('./img/monet.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

#container {
    display: flex;
    justify-content: center;
}

#gameboard {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    width: 250px;
}

h1, h2 {
    text-align: center;
    color: rgb(238, 4, 121)
}

#scoreboard {
    text-align: center;
    margin-top: 10px;
}

.col {
    position: relative;
    width: 20%;
}

.col:hover {
    background-color: rgb(253, 115, 184);
    cursor: pointer;
}

.cell {
    height: 80px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.piece-black, .piece-red {
    border-radius: 25px;
    height: 70px;
    width: 90%;
    position: absolute;
}

.piece-red {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.piece-black {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.winnerCell {
    outline: 5px dotted red;
}

#characters {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#char-faces:hover {
    cursor: pointer;
}

#char-faces {
    text-align: center;
}

img, a {
    border-radius: 15px;
    height: 100px;
    width: 100px;
}

audio {
    margin: auto;
}

#turn {
    color: rgb(238, 4, 121);
    font-size: 100%;
    text-align: center;
}

#winner {
    color: rgb(255, 173, 214);
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media (min-width: 600px) {
    #gameboard {
        width:500px;
    }
}

@media (max-width: 600px) {
    #container {
        flex-direction: row;
    }
    #gameboard {
        width:300px;
    }
    aside {
        width:100px;
        font-size: 10px;
    }
    #turn {
        font-size: 10px;
    }
}

#start {
    width: 20vw;
    margin: auto;
}